/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* #Laptop 1366px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1239px) and (max-width: 1366px) {
  .section-one {
    .section-one__headline {
      .headline__title {
        font-size: 32px;
      }
      .headline__subtitle {
        font-size: 17px;
      }
    }

    .section-one__phone-wrapper {
      top: 32%;
      left: 31%;

      .section-one__spiral-pink {
        left: -163px;
        top: -521px;
      }
      .phone {
        height: 780px;
        width: 625px;
      }
    }

    .section-one__date {
      .date__text {
        font-size: 21px;
      }
      .date__box {
        height: 45px;
        .date__value {
          font-size: 24px;
          line-height: 40px;
        }
      }
    }

    .section-one__promotion {
      .promotion__offer {
        padding-top: 10px;
        .offer__text {
          font-size: 22px;
        }

        .offer__number {
          font-size: 32px;

          .offer__number__unit {
            font-size: 24px;
          }
        }
      }

      .promotion__installment {
        padding-bottom: 10px;
        .promotion__installment__value {
          font-size: 62px;
        }
        .promotion__installment__text {
          font-size: 24px;
        }
      }
    }

    .section-one__phonename {
      font-size: 13.5vw;
      bottom: 117px;
      .phonename__oppo {
        letter-spacing: -15px;
      }
      .phonename__a92 {
        letter-spacing: -25px;
      }
    }
  }

  .section-six {
    .section-six__camera__text-wrapper {
      padding: 40px 25px;
    }
    .section-six__camera {
      width: 402px;
      .camera__description {
        font-size: 20px;
      }
    }
    .camera__subtitle {
      margin: 20px 0 40px 0;
    }
  }
}

/* #Special for all max 820px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 820px) {
  section {
    min-height: 768px;
  }
}

/* #Tablet (Landscape) 1024px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  .section-one {
    .section-one__headline {
      left: 40px;
      top: 80px;
      .headline__title {
        font-size: 20px;
      }
      .headline__subtitle {
        font-size: 12px;
      }
    }

    .section-one__phone-wrapper {
      left: 23%;
      top: 38%;

      .section-one__spiral-pink {
        left: 10px;
        top: -278px;
        width: 600px;
        height: auto;
      }
      .phone {
        height: 600px;
        width: 480px;
      }
    }

    .section-one__date {
      right: 40px;
      top: 80px;
      .date__text {
        font-size: 18px;
      }
      .date__box {
        height: 40px;
        padding: 0 20px;
        .date__value {
          font-size: 18px;
          line-height: 39px;
        }
      }
    }

    .section-one__promotion {
      right: 40px;
      bottom: 130px;

      .promotion__offer {
        padding: 10px 0;
        .offer__text {
          font-size: 17px;
        }
        .offer__number {
          font-size: 20px;
          .offer__number__unit {
            font-size: 17px;
          }
        }
      }

      .promotion__installment {
        padding: 10px 0;
        .promotion__installment__value {
          font-size: 42px;
        }
        .promotion__installment__text {
          font-size: 16px;
        }
      }
    }

    .section-one__phonename {
      font-size: 13.5vw;
      left: 40px;
      bottom: 215px;
      .phonename__oppo {
        letter-spacing: -13px;
      }
      .phonename__a92 {
        letter-spacing: -15px;
      }
    }

    .section-one__price {
      left: 40px;
      font-size: 26px;
      bottom: 130px;
      .price__unit {
        font-size: 24px;
      }
    }
  }

  .section-three {
    .section-three__figure-wrapper {
      left: 50%;
      top: 0;
      transform: translateX(-50%);

      .section-three__figure {
        width: 100%;
      }
    }
  }

  .section-five {
    .phone-back__figure {
      .figure__label {
        font-size: 1.2vw;
      }
    }
  }

  .section-seven {
    .night-mode__text {
      margin-top: 0;

      .text-content-title {
        font-size: 43px;
      }
    }
  }

  .section-six {
    .section-six__camera__text-wrapper {
      padding: 40px 25px;

      .text-content-title {
        font-size: 38px;
      }
      .text-content-subtitle {
        font-size: 27px;
      }
    }

    .section-six__camera {
      width: 44%;
      left: 15px;
      .camera__description {
        font-size: 20px;
      }
    }
    .camera__subtitle {
      margin: 20px 0 40px 0;
    }
  }
}
/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .m-center {
    text-align: center;
  }

  .section-one {
    .section-one__headline {
      left: 40px;
      top: 80px;
      .headline__title {
        font-size: 20px;
      }
      .headline__subtitle {
        font-size: 12px;
      }
    }

    .section-one__phone-wrapper {
      left: 23%;
      top: 38%;

      .section-one__spiral-pink {
        left: 10px;
        top: -278px;
        width: 600px;
        height: auto;
      }
      .phone {
        height: 600px;
        width: 480px;
      }
    }

    .section-one__date {
      right: 40px;
      top: 80px;
      .date__text {
        font-size: 18px;
      }
      .date__box {
        height: 40px;
        padding: 0 20px;
        .date__value {
          font-size: 18px;
          line-height: 39px;
        }
      }
    }

    .section-one__promotion {
      right: 40px;
      bottom: 130px;

      .promotion__offer {
        padding: 10px 0;
        .offer__text {
          font-size: 17px;
        }
        .offer__number {
          font-size: 20px;
          .offer__number__unit {
            font-size: 17px;
          }
        }
      }

      .promotion__installment {
        padding: 10px 0;
        .promotion__installment__value {
          font-size: 42px;
        }
        .promotion__installment__text {
          font-size: 16px;
        }
      }
    }

    .section-one__phonename {
      font-size: 100px;
      left: 40px;
      bottom: 215px;
      .phonename__oppo {
        letter-spacing: -13px;
      }
      .phonename__a92 {
        letter-spacing: -15px;
      }
    }

    .section-one__price {
      left: 40px;
      font-size: 26px;
      bottom: 130px;
      .price__unit {
        font-size: 24px;
      }
    }
  }

  .section-two {
    .section-two__battery {
      margin: 50px 0;
      .battery__title {
        align-items: center;
      }
      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }

    .section-two-figure {
      margin: 0;
    }
  }

  .section-three {
    .screen__content-wrapper {
      .text-content-title {
        font-size: 5vw;
      }
      .text-content-subtitle {
        font-size: 4vw;
      }
      .text-content-description {
        font-size: 3vw;
      }

      .screen__specs {
        .details__number {
          font-size: 3vw;
          .details__number__fhd {
            font-size: 1.5vw;
            top: 5px;
          }
        }
      }
    }

    .section-three__figure-wrapper {
      left: 0;

      .section-three__figure {
        width: 100%;
      }
    }
  }

  .section-four {
    padding: 30px 0;

    .storage-info {
      .text-content-title {
        font-size: 5vw;
      }
      .text-content-subtitle {
        font-size: 4vw;
      }
      .text-content-description {
        font-size: 3vw;
      }
    }

    .storage-circle {
      margin-top: 70px;
    }
  }

  .section-five {
    padding: 60px 0;

    .container {
      flex-direction: column;
    }
    .phone-back__figure {
      order: 2;
      margin-top: 50px;

      .figure__label {
        font-size: 2.5vw;
      }
    }
    .phone-back__text {
      order: 1;
      padding-left: 0;
      margin-top: 0;

      .text-content-title {
        font-size: 5vw;
      }
      .text-content-subtitle {
        font-size: 4vw;
      }
      .text-content-description {
        font-size: 3vw;
      }
    }
  }

  .section-seven {
    .col-md-6 {
      padding: 0 30px;
    }

    .night-mode__text .night-mode__specs {
      margin: 50px 0;
      justify-content: center;
    }

    .night-mode__text {
      margin-top: 0;

      .text-content-title {
        font-size: 5vw;
      }
      .text-content-subtitle {
        font-size: 4vw;
      }
      .text-content-description {
        font-size: 3vw;
      }
    }
  }

  .section-six {
    background-position: 68%;
    .section-six__camera__text-wrapper {
      padding: 20px 25px;
      .text-content-title {
        font-size: 35px;
      }
      .text-content-subtitle {
        font-size: 22px;
      }
    }

    .section-six__camera {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
      .camera__description {
        font-size: 15px;
      }
      .popup-moc {
        position: absolute;
        right: inherit;
        bottom: -64px;
        left: 70px;
        transform: rotate(90deg);
      }
    }
    .camera__subtitle {
      margin: 20px 0;
    }

    .section-six__figure {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      .camera-wrapper {
        position: absolute;
        top: initial;
        bottom: 0;
        left: 0;
        width: 100%;
        .camera-line-2 {
          padding-top: 17px;
        }
      }
    }
  }
}
/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  section {
    min-height: 1024px;
  }

  .m-center {
    text-align: center;
  }

  .section-two {
    .section-two__battery {
      margin: 50px 0;
      .battery__title {
        align-items: center;
      }
      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }

    .section-two-figure {
      margin: 0;
    }
  }

  .section-three {
    .screen__content-wrapper {
      flex-direction: column;

      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }

      .screen__text__headline {
        .screen-subtitle {
          margin: 40px 0;
        }
      }

      .screen__specs {
        display: flex;
        justify-content: space-between;

        .specs__details {
          margin-top: 0;
        }
        .details__label {
          font-size: 3vw;
        }
        .details__number {
          font-size: 3.5vw;
          .details__number__fhd {
            font-size: 1.5vw;
            top: 3px;
          }
        }
      }

      .screen-description {
        margin-top: 40px;
      }
    }

    .section-three__figure-wrapper {
      left: 0;

      .section-three__figure {
        width: 100%;
      }
    }
  }

  .section-four {
    padding: 30px 0;

    .storage-info {
      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }

    .storage-subtitle {
      margin: 20px 0;
    }

    .storage-circle {
      margin-top: 20px;
    }
  }

  .section-five {
    padding: 60px 0;

    .container {
      flex-direction: column;
    }
    .phone-back__figure {
      order: 2;
      margin-top: 50px;

      .figure__label {
        font-size: 2.5vw;
      }
    }
    .phone-back__text {
      order: 1;
      padding-left: 0;
      margin-top: 0;

      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }
  }

  .section-seven {
    .col-md-6 {
      padding: 0 30px;
    }
    .night-mode__text .night-mode__specs {
      margin: 50px 0;
      justify-content: center;
    }
    .night-mode__text {
      margin-top: 0;

      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }
  }

  .section-one {
    .section-one__headline {
      left: 40px;
      top: 80px;
      .headline__title {
        font-size: 20px;
      }
      .headline__subtitle {
        font-size: 12px;
      }
    }

    .section-one__phone-wrapper {
      left: 23%;
      top: 38%;

      .section-one__spiral-pink {
        left: 10px;
        top: -278px;
        width: 600px;
        height: auto;
      }
      .phone {
        height: 402px;
        width: 354px;
      }
    }

    .section-one__date {
      right: 40px;
      top: 80px;
      .date__text {
        font-size: 18px;
      }
      .date__box {
        height: 40px;
        padding: 0 20px;
        .date__value {
          font-size: 18px;
          line-height: 39px;
        }
      }
    }

    .section-one__promotion {
      right: 40px;
      bottom: 130px;

      .promotion__offer {
        padding: 10px 0;
        .offer__text {
          font-size: 17px;
        }
        .offer__number {
          font-size: 20px;
          .offer__number__unit {
            font-size: 17px;
          }
        }
      }

      .promotion__installment {
        padding: 10px 0;
        .promotion__installment__value {
          font-size: 42px;
        }
        .promotion__installment__text {
          font-size: 16px;
        }
      }
    }

    .section-one__phonename {
      font-size: 100px;
      left: 40px;
      bottom: 215px;
      .phonename__oppo {
        letter-spacing: -13px;
      }
      .phonename__a92 {
        letter-spacing: -15px;
      }
    }

    .section-one__price {
      left: 40px;
      font-size: 26px;
      bottom: 130px;
      .price__unit {
        font-size: 24px;
      }
    }
  }

  .section-six {
    background-position: 68%;
    .section-six__camera__text-wrapper {
      padding: 20px 25px;
      .text-content-title {
        font-size: 35px;
      }
      .text-content-subtitle {
        font-size: 22px;
      }
    }

    .section-six__camera {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
      .camera__description {
        font-size: 15px;
      }
      .popup-moc {
        position: absolute;
        right: inherit;
        bottom: -64px;
        left: 70px;
        transform: rotate(90deg);
      }
    }
    .camera__subtitle {
      margin: 20px 0;
    }

    .section-six__figure {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      .camera-wrapper {
        position: absolute;
        top: initial;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}
/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
  .m-center {
    text-align: center;
  }
  .section-two {
    .section-two__battery {
      margin: 50px 0;
      .battery__title {
        align-items: center;
      }
      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }

    .section-two-figure {
      margin: 0;
    }
  }

  .section-three {
    .screen__content-wrapper {
      flex-direction: column;

      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }

      .screen__text__headline {
        .screen-subtitle {
          margin: 40px 0;
        }
      }

      .screen__specs {
        display: flex;
        justify-content: space-between;
        position: static;
        right: initial;
        top: initial;

        .specs__details {
          margin-top: 0;
        }
        .details__label {
          font-size: 3vw;
        }
        .details__number {
          font-size: 3.5vw;
          .details__number__fhd {
            font-size: 1.5vw;
            top: 3px;
          }
        }
      }

      .screen-description {
        margin-top: 40px;
      }
    }

    .section-three__figure-wrapper {
      left: 0;

      .section-three__figure {
        width: 100%;
      }
    }
  }

  .section-four {
    padding: 30px 0;

    .storage-info {
      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }

    .storage-subtitle {
      margin: 20px 0;
    }

    .storage-circle {
      margin-top: 20px;
    }
  }

  .section-five {
    padding: 60px 0;

    .container {
      flex-direction: column;
    }
    .phone-back__figure {
      order: 2;
      margin-top: 50px;

      .figure__label {
        font-size: 2.5vw;
      }
    }
    .phone-back__text {
      order: 1;
      padding-left: 0;
      margin-top: 0;

      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }
  }

  .section-seven {
    .col-md-6 {
      padding: 0 30px;
    }
    .night-mode__text .night-mode__specs {
      margin: 50px 0;
      justify-content: center;
    }
    .night-mode__text {
      margin-top: 0;

      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }
  }
  .section-one {
    .section-one__headline {
      left: 15px;
      top: 135px;
      .headline__title {
        font-size: 20px;
      }
      .headline__subtitle {
        font-size: 12px;
      }
    }

    .section-one__phone-wrapper {
      left: 0;
      top: 268px;

      .section-one__spiral-pink {
        left: 52px;
        top: -169px;
        width: 100%;
        height: auto;
      }
      .phone {
        width: 100%;
      }
    }

    .section-one__date {
      right: 1px;
      top: inherit;
      bottom: 214px;
      z-index: 10;
      .date__text {
        font-size: 9px;
      }
      .date__box {
        height: inherit;
        padding: 7px 20px;
        width: 99px;
        border-radius: 10px;
        background-color: #ffffff;
        .date__value {
          font-size: 18px;
          line-height: 1;
          text-align: center;
          color: #df689f;
        }
      }
    }

    .section-one__promotion {
      right: 50%;
      bottom: 69px;
      width: 90%;
      margin-right: -45%;
      z-index: 10;

      .promotion__border {
        display: inline-block;
        width: 100%;
      }

      .promotion__line {
        background-color: white;
        width: 75px;
        height: 3px;
        margin: 0;
        transform: rotate(90deg) translateY(calc(-50% + 35px));
        position: absolute;
        left: 50%;
        transform-origin: center center;
        top: 57px;
      }

      .promotion__offer {
        padding: 10px 0;
        float: left;
        .offer__text {
          font-size: 17px;
        }
        .offer__number {
          font-size: 20px;
          .offer__number__unit {
            font-size: 17px;
          }
        }
      }

      .promotion__installment {
        padding: 10px 0;
        float: right;
        .promotion__installment__value {
          font-size: 42px;
        }
        .promotion__installment__text {
          font-size: 16px;
        }
      }
    }

    .section-one__phonename {
      font-size: 72px;
      left: 15px;
      bottom: inherit;
      top: 0;
      .phonename__oppo {
        letter-spacing: -13px;
      }
      .phonename__a92 {
        letter-spacing: -15px;
      }
    }

    .section-one__price {
      left: 40px;
      font-size: 26px;
      bottom: 130px;
      .price__unit {
        font-size: 24px;
      }
    }
  }

  .section-six {
    background-position: 68%;
    .section-six__camera__text-wrapper {
      padding: 20px 25px;

      .text-content-title {
        font-size: 7vw;
      }
      .text-content-subtitle {
        font-size: 6vw;
      }
      .text-content-description {
        font-size: 5vw;
      }
    }

    .section-six__camera {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
      top: 15px;
      .camera__description {
        font-size: 15px;
      }
      .popup-moc {
        position: absolute;
        right: inherit;
        bottom: -64px;
        left: 70px;
        transform: rotate(90deg);
      }
    }
    .camera__subtitle {
      margin: 20px 0;
    }

    .section-six__figure {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      .camera-wrapper {
        position: absolute;
        top: initial;
        bottom: 0;
        left: 0;
        width: 100%;
        .camera-line-1 {
          padding-left: 18px;
        }
        .camera-line-2 {
          padding-left: 62px;
          padding-top: 13px;
        }
        .camera-line-3 {
          padding-left: 89px;
          height: 95px;
        }
        .camera-line-4 {
          padding-left: 91px;
          height: 157px;
        }
      }
    }
  }
}
